---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Pludo Directory">
	<main>
		<div>
			<h1 class="text-center dark:text-white text-black md:text-8xl font-bold pt-8 font-mono text-wrap text-2xl">
				Pludo Directory
			</h1>
		</div>
		<div class="flex flex-wrap p-5 justify-center">
			<Card 
			hosted="https://pludoagency.pludo.org/"
			title="Pludo Agency"
			body="Skole Prosjekt"
			source="https://github.com/chrwiencke/pludoagency"
			dato="25 Apr, 2024"/>
			<Card 
			hosted="https://artikkel.pludo.org"
			title="Artikkel"
			body="Skole Prosjekt"
			source="https://github.com/chrwiencke/pludo-samfunnkunnskap"
			dato="26 Okt, 2024"/>
			<Card 
			hosted="https://weather.pludo.org/"
			title="Weather Flare"
			body="Side Quest"
			source="https://github.com/chrwiencke/weatherflare"
			dato="31 Okt, 2024"/>
			<Card 
			hosted="https://gitbook.pludo.org/k3s"
			title="K3S Documentation"
			body="Skole Prosjekt"
			source="https://gitbook.pludo.org/k3s"
			dato="11 Okt, 2024"/>
			<Card 
			hosted="https://chw.no/"
			title="Personlig Side"
			body="Learning Astro"
			source="https://github.com/chrwiencke/Astro-CV"
			dato="2 Nov, 2024"/>
			<Card 
			hosted="https://saas.pludo.org/"
			title="Astro Saas"
			body="Learning Astro"
			source="https://github.com/chrwiencke/astro-landing-page-website-sale"
			dato="4 Nov, 2024"/>
		</div>
	</main>
</Layout>