---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Pludo Directory">
	<main>
		<div>
			<h1 class="text-center dark:text-white text-black md:text-8xl font-bold pt-8 font-mono text-wrap text-2xl">
				Pludo Directory
			</h1>
		</div>
		<div class="flex flex-wrap p-5 justify-center">
			<Card 
			hosted="https://chw.no/"
			title="CV"
			body="Side Quest"
			source="https://github.com/chrwiencke/Astro-CV"
			dato="2 Nov, 2024"/>
			<Card 
			hosted="https://donotshow.me/"
			title="Temporary Email"
			body="Privacy Project"
			source="https://github.com/chrwiencke/RobertMail"
			dato="15 Des, 2024"/>
			<Card 
			hosted="https://huzzand.buzz/"
			title="Dmarc Managment"
			body="Email Security"
			source="https://github.com/chrwiencke/dmarcrenderanalyticsdashboard"
			dato="10 Jan, 2025"/>
			<Card 
			hosted="https://shh.pludo.org/"
			title="Ssh Key Managment"
			body="Ssh Productivity"
			source="https://github.com/chrwiencke/Shhhhhkeys"
			dato="12 Jan, 2025"/>
			<Card 
			hosted="https://templedns.pludo.org/"
			title="Privacy-focused DNS"
			body="Privacy Project"
			source="/na"
			dato="25 Des, 2024"/>
			<Card 
			hosted="https://short.pludo.org/"
			title="Short Short URL"
			body="Privacy Project"
			source="https://github.com/chrwiencke/shortlinkcfhono"
			dato="21 Des, 2024"/>
			<Card 
			hosted="https://gitbook.pludo.org/k3s"
			title="Kubernetes Prosjekt"
			body="Skole Prosjekt"
			source="https://gitbook.pludo.org/k3s"
			dato="11 Okt, 2024"/>
			<Card 
			hosted="https://weather.pludo.org/"
			title="Weather Flare"
			body="Liten Side Quest"
			source="https://github.com/chrwiencke/weatherflare"
			dato="31 Okt, 2024"/>
		</div>
	</main>
</Layout>