---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Pludo Directory">
	<main>
		<div>
			<h1 class="text-center dark:text-white text-black md:text-8xl font-bold pt-8 font-mono text-wrap text-2xl">
				Pludo Directory
			</h1>
		</div>
		<div class="flex flex-wrap p-5 justify-center">
			<Card 
			hosted="https://chw.no/"
			title="chw.no"
			body="CV"
			source="https://github.com/chrwiencke/Astro-CV"
			about="/na"
			dato="2 Nov, 2024"/>
			<Card 
			hosted="https://donotshow.me/"
			title="Temporary Email"
			body="Privacy Project"
			source="https://github.com/chrwiencke/RobertMail"
			about="/about/donotshowme"
			dato="15 Des, 2024"/>
			<Card 
			hosted="https://shh.pludo.org/"
			title="SSH Key Managment"
			body="SSH Productivity"
			source="https://github.com/chrwiencke/Shhhhhkeys"
			about="/about/shhhhhkeys"
			dato="12 Jan, 2025"/>
			<Card 
			hosted="https://huzzand.buzz/"
			title="Dmarc Managment"
			body="Email Security"
			source="https://github.com/chrwiencke/dmarcrenderanalyticsdashboard"
			about="/about/dmarc"
			dato="10 Jan, 2025"/>
			<Card 
			hosted="https://templedns.pludo.org/"
			title="Privacy-focused DNS"
			body="Privacy Project"
			source="/na"
			about="/about/dns"
			dato="25 Des, 2024"/>
			<Card 
			hosted="https://short.pludo.org/"
			title="Short Short URL"
			body="Privacy Project"
			source="https://github.com/chrwiencke/shortlinkcfhono"
			about="/about/shorturl"
			dato="21 Des, 2024"/>
			<Card 
			hosted="https://gitbook.pludo.org/k3s"
			title="Kubernetes Prosjekt"
			body="Skole Prosjekt"
			source="/na"
			about="/na"
			dato="11 Okt, 2024"/>
			<Card 
			hosted="https://kalender.pludo.org/"
			title="Julekalender"
			body="Skole Prosjekt"
			source="https://github.com/chrwiencke/Bleiker-Julekalender-Frontend"
			about="/about/kalender"
			dato="1 Des, 2024"/>
		</div>
	</main>
</Layout>
