---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Not Applicable">
<main>
    <p class="dark:text-white text-black text-center mt-10">
        Not Applicable
    </p>
</main>
</Layout>