---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark:bg-neutral-950">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Pludo directory of projects and documentation." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script defer data-website-id="672bcca6ac40614d759245ff" data-domain="pludo.org" src="https://datafa.st/js/script.js"></script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
